// @import url('https://fonts.googleapis.com/css2?family=Lato:400,700|Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap');

$turqoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0,100,80);

$light: #f8f8f8;

//update Bulma's global variables
$family-sans-serif: 'Nunito', "sans-serif";
$primary: $green;
$link: $turqoise;

//update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custpom gllobal styles(will be aplied to the whole app)
html {
    background: linear-gradient(to right top, $turqoise, $green);
}

html, body{
    height: 100%;
}

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box{
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title{
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9); /* Adjust the background color and opacity as needed */
    z-index: 9998; /* Set a z-index lower than the loading container to ensure it's behind the loading icon */
    display: none;
}

.page-content-faded {
    filter: blur(2px); /* Optional: Apply a slight blur to the content */
    pointer-events: none;
}

.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999,
}

.loading-icon {
    width: 50px;
    height: 50px;
    border: 4px solid #3498db;
    border-radius: 50%;
    border-top: 4px solid transparent;
    animation: spin 1s ease-in infinite;
}

.loading-message {
    margin-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-bubble {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .error-bubble button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
