<div *ngIf="loading" class="loading-overlay"></div>

<div *ngIf="loading" class="loading-container">
  <div class="loading-icon"></div>
  <div class="loading-message">Signing up...</div>
</div>

<div *ngIf="errorMessage" class="error-bubble">
  <p>{{ errorMessage }}</p>
  <button (click)="closeError()"><i class="fas fa-times-circle"></i></button>
</div>

<div class="centered-content">
  <div class="signup-box">
    <h1 class="title has-text-primary">Sign up</h1>
    <div class="field">
      <input
        #name
        class="input has-background-light"
        type="text"
        placeholder="Name"
      />
    </div>
    <div class="field">
      <input
        #username
        class="input has-background-light"
        type="text"
        placeholder="Username"
      />
    </div>
    <div class="field">
      <input
        #password
        class="input has-background-light"
        type="password"
        placeholder="Password"
      />
    </div>
    <div class="field" style="display: flex; justify-content: flex-end">
      <button
        class="button is-success has has-text-white"
        (click)="
          onSignupButtonClicked(name.value, username.value, password.value)
        "
      >
        Sign up
      </button>
    </div>
    <br />
    <p class="has-text-grey">
      Already have an account? <a href="/login">Log in</a>
    </p>
  </div>
</div>
