<div *ngIf="loading" class="loading-overlay"></div>

<div *ngIf="loading" class="loading-container">
  <!-- Loading spinner or loading message -->
  <div class="loading-icon"></div>
  <!-- Loading message -->
  <div class="loading-message">Loading...</div>
</div>

<div *ngIf="errorMessage" class="error-bubble">
  <p>{{ errorMessage }}</p>
  <button (click)="closeError()"><i class="fas fa-times-circle"></i></button>
</div>

<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Edit list</h1>
    <input
      #listTitleInput
      class="input has-background-light is-medium"
      type="text"
      placeholder="Enter new list title"
    />
    <br /><br />
    <div class="buttons is-right">
      <button
        class="button is-primary has-text-white is-medium"
        (click)="updateList(listTitleInput.value)"
      >
        Save
      </button>
      <button
        class="button is-medium"
        [routerLink]="['/lists', selectedListId]"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
